body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:white;
  overflow:hidden;
}

/* TODAS AS TELAS OCUPAM A TELA INTEIRA */
.tela{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  text-align:center;
  background:white;
}

.ativa{
  display:flex;
}

/* TELA INICIAL ANIMAÇÃO */
.titulo{
  font-weight:700;
  animation:descer 1s ease forwards;
}

#btn-comecar{
  margin-top:20px;
  padding:12px 30px;
  opacity:0;
  animation:subir 1s ease forwards;
  animation-delay:.5s;
}

@keyframes descer{
  from{transform:translateY(-100px);opacity:0;}
  to{transform:translateY(0);opacity:1;}
}

@keyframes subir{
  from{transform:translateY(100px);opacity:0;}
  to{transform:translateY(0);opacity:1;}
}

/* CAMPOS */
.linha{
  display:flex;
  gap:10px;
  align-items:center;
}

input{
  padding:10px;
  font-size:16px;
  width:120px;
}

ul{
  list-style:none;
  padding:0;
  margin-top:10px;
}

li{
  cursor:pointer;
  padding:5px;
}

li:hover{
  background:#eee;
}

/* ATRIBUTOS */
#atributos div{
  margin:8px 0;
}

.barra{
  height:10px;
  background:#ddd;
  width:150px;
  margin:5px auto;
}

.barra span{
  display:block;
  height:100%;
  background:black;
}

/* TELA FINAL PRETA */
.final{
  background:black;
  color:white;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  overflow-y:auto;
}

/* PARTE BRANCA DA FICHA (APARECE AO ROLAR) */
.ficha{
  margin-top:100vh;
  background:white;
  color:black;
  padding:30px;
  border-radius:10px;
  width:320px;
}
